@mixin Dark {
  blockquote:not(.bbCodeBlock) {
    background: #3b414b;
    border-color: #4d5460;
    border-left: 2px solid #2175f3;
  }

  code {
    background: #3b414b;
    border-color: #4d5460;
  }

  th,
  td {
    border: 1px solid #4d5460;
  }

  .bbCodeBlock {
    background: #2d333d;
    border: 1px solid #3a424f;
    border-left: 2px solid #4584e3;

    .bbCodeBlock-title {
      color: #f90;
      background: #292e37;
    }

    pre {
      margin: 0;

      .token.comment,
      .token.prolog,
      .token.doctype,
      .token.cdata {
        color: #7C7C7C;
      }

      .token.punctuation {
        color: #c5c8c6;
      }

      .namespace {
        opacity: .7;
      }

      .token.property,
      .token.keyword,
      .token.tag {
        color: #96CBFE;
      }

      .token.class-name {
        color: #FFFFB6;
        text-decoration: underline;
      }

      .token.boolean,
      .token.constant {
        color: #99CC99;
      }

      .token.symbol,
      .token.deleted {
        color: #f92672;
      }

      .token.number {
        color: #FF73FD;
      }

      .token.selector,
      .token.attr-name,
      .token.string,
      .token.char,
      .token.builtin,
      .token.inserted {
        color: #A8FF60;
      }

      .token.variable {
        color: #C6C5FE;
      }

      .token.operator {
        color: #EDEDED;
      }

      .token.entity {
        color: #FFFFB6;
        cursor: help;
      }

      .token.url {
        color: #96CBFE;
      }

      .language-css .token.string,
      .style .token.string {
        color: #87C38A;
      }

      .token.atrule,
      .token.attr-value {
        color: #F9EE98;
      }

      .token.function {
        color: #DAD085;
      }

      .token.regex {
        color: #E9C062;
      }

      .token.important {
        color: #fd971f;
      }

      .token.important,
      .token.bold {
        font-weight: bold;
      }

      .token.italic {
        font-style: italic;
      }
    }
  }
}

@mixin Light {
  blockquote:not(.bbCodeBlock) {
    border-color: #d3e1f6;
    border-left: 2px solid #2175f3;
    background: #f1f3fb;
  }

  code {
    background: #f1f3fb;
    border-color: #d3e1f6;
  }

  th,
  td {
    border: 1px solid #d3e1f6;
  }

  .bbCodeBlock {
    background: #f1f3fb;
    border: 1px solid #d3e1f6;
    border-left: 2px solid #2175f3;

    .bbCodeBlock-title {
      color: #92d049;
      background: #f9fafd;
    }

    pre .token {


      &.comment,
      &.prolog,
      &.doctype,
      &.cdata {
        color: #a50;
      }

      &.constant {
        color: #05a;
      }

      &.tag {
        color: #170;
      }

      &.boolean {
        color: #219;
      }

      &.symbol,
      &.atrule,
      &.keyword {
        color: #708;
      }

      &.selector,
      &.function {
        color: #05a;
      }

      &.deleted {
        color: #d44;
      }

      &.inserted {
        color: #292;
      }

      &.string,
      &.attr-value {
        color: #a11;
      }

      &.number {
        color: #164;
      }

      &.attr-name,
      &.char,
      &.builtin {
        color: #00c;
      }

      &.regex,
      &.important,
      &.variable,
      &.package {
        color: #05a;
      }

      &.class-name,
      &.important,
      &.bold {
        color: #00f;
      }

      &.bold {
        font-weight: bold;
      }

      &.italic,
      &.constant {
        color: #05a;
        font-style: italic;
      }

      &.entity {
        cursor: help;
      }
    }
  }
}