@use './variables' as *;

@mixin Typo {
  h1,
  p {
    & + br {
      display: none;
    }
  }

  p {
    margin: 16px 0;
    line-height: 1.5;
  }

  ul,
  ol,
  p {
    strong {
      font-weight: bold;
    }
  }

  code {
    margin: 0;
    font-size: 90%;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 1px 4px;
    font-family: $monospaceFontFamily;
    line-height: 1.4;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 8px 0;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  em {
    font-style: italic !important;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    empty-cells: show;
    margin: 16px 0;

    th,
    td {
      background: transparent;
      padding: 4px;
    }
  }

  ol,
  ul {
    padding-left: 20px;
  }

  pre code {
    background: transparent !important;
    border-color: transparent !important;
  }

  pre {
    border: 1px solid transparent;
    padding: 4px;
  }

  blockquote:not(.bbCodeBlock) {
    display: flow-root;
    margin: 0.5em 0;
    padding: 12px 15px;

    p {
      margin: 0 !important;
    }
  }

  .bbCodeBlock {
    display: flow-root;
    margin: 0.5em 0;

    .bbCodeBlock-title {
      padding: 12px 15px;
      font-size: 1.2rem;
    }

    pre {
      margin: 0;
    }

    .bbCodeBlock-content {
      position: relative;
      padding: 12px 15px;
    }
  }

  pre {
    overflow: auto;
  }

  iframe {
    border: none;
  }
}